@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white-color: #ffffff;
  --text-color: #000000;
  --background-color: #fdfefb;
  --primary-color: #241155;
  --secondary-color: #e9c3f3;
  --accent-color: #2749c4;
}


#__next {
  height: 100%;
}

body {
  background-image: linear-gradient(
    130deg in lch,
    hsl(288 67% 86%) 0%,
    hsl(80 60% 99%) 100%
  );
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}


@layer components {
  /* This won't be included in your compiled CSS unless you actually use it */
  .product {
    transform-style: preserve-3d;
  }

  .product:hover .content {
    transform: translateZ(12px);
  }

  .product::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .content {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
  }

  .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--primary-color);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2749c4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
}
